main > .container {
    padding: 60px 15px 0;
  }

.section-title {
    margin: 20px;
    padding: 10px;
}
.question {
    border: 3px solid gray;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}

.avatar-question {
    width: 100px;
    height: 140px;
}

.button-ask {
    background: green;
    color: white;
}

.avatar-user {
    width: 50px;
    height: 60px;
    margin-right: 20px;
}

.userblock {
    margin-right: 100px;
    color: white;
}

.userblock-link {
    margin-left: 20px; 
}

.button-like-dislike {
    margin-top: 10px;
    padding: 0px;
    width: 50px;
    border: 0px;
    height: 50px;
    background-color: transparent;
}

.margin-left {
    margin-left: 30px;
}

.text-error {
    color: red;
}

.new-question-ask {
    margin-top: 20px;
    background: green;
}

.input {
    width: 620px;
}

#InputAvatar {
    width: 300px;
}

.choose-avatar {
    background: green;
}

.tags {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

.topnav {
  overflow: hidden;
  background-color: #000000;
  height: 60px;
}

.topnav-buttons {
  float: left;
  display: block;
  text-align: center;
  padding: 11px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-buttons-login {
  float: left;
  display: block;
  text-align: center;
  padding: 0px 15px;
  text-decoration: none;
  font-size: 17px;
}

