{% extends "inc/base.html" %}
{% load static %}

{% block userblock %}
    <div>
        <a href="{% url 'login' %}" class="userblock-link">log in</a>
        <a href="{% url 'signup' %}" class="userblock-link">sign up</a>
    </div>
{% endblock userblock %}

{% block content %}
    <h2 class="mt-5">New Question</h2>
<!--    <div class="form-text text-error">-->
<!--        <h5>Sorri, the data is incorrect!</h5>-->
<!--    </div>-->
    <form action="/ask/" method="post">
        {% csrf_token %}
        {{ form.title.label }}
        {{ form.title }}<br>
        {{ form.text.label }}
        {{ form.text }}<br>
        {{ form.tag.label }}
        {{ form.tag }}
        <button type="submit" class="btn btn-primary new-question-ask">ASK!</button>
    </form>
{% endblock content %}