{% extends "inc/base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <h2 class="mt-5 section-title">Hot Questions</h2>
    </div>

    {% for question in questions %}
        {% include "inc/question.html" %}
    {% endfor %}

    <div class="userblock-link">
        <a href="" title="На страницу номер 1">1</a>
        <a href="" title="На страницу номер 2">2</a>
        <a href="" title="На страницу номер 3">3</a>
        <a href="" title="На страницу номер 4">4</a>
        <a href="" title="На следующую страницу">...</a>
        <a href="" title="На последнюю страницу">50</a>
    </div>
{% endblock content %}