{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block userblock %}
    <div>
        <a href="{% url "login" %}" class="userblock-link">log in</a>
        <a href="{% url "signup" %}" class="userblock-link">sign up</a>
    </div>
{% endblock userblock %}

{% block content %}
    <h2 class="mt-5">Log In</h2>
    <div class="form-text text-error">
        {{error}}
    </div>
    <form action="/login/" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary new-question-ask">Log in!</button>
        <br>
        <br>
        <a href="{% url "signup" %}">create new account</a>
    </form>
{% include "inc/scripts.html" %}
{% endblock content %}