{% extends "inc/base.html" %}
{% load static %}

{% block content %}
    <br>
    <div class="row section-title">
        <div class="col-2">
            <img class="avatar-question" src="{% static "img/duck.jpeg" %}" alt="">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-sm button-like-dislike">
                    <img src="{% static "img/like.png" %}" width="40px" height="30px">
                </button>
                <button type="button" class="btn btn-primary btn-sm button-like-dislike">
                    <img src="{% static "img/dislike.png" %}" width="40px" height="30px">
                </button>
            </div>
        </div>
        <div class="col-10">
            <h3>{{ question.title }}</h3>
            <p>{{ question.text }}</p>
            <p>
                Tags:
                {% for tag in question.tag.all %}
                    {% if forloop.last %}
                        <a class="clickable" href="{% url 'tag' pk=tag %}">{{ tag.text }}</a>
                    {% else %}
                        <a class="clickable" href="{% url 'tag' pk=tag %}">{{ tag.text }},</a>
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
    <hr/>
    {% for answer in answers %}
            {%  include "inc/answer.html" %}
    {% endfor %}
    <hr/>
    {% if request.user.is_authenticated %}
        <div class="mb-3 section-title">
            <form action="" method="post">
                {% csrf_token %}
                <label>Answer</label>
                {{ form.body }}
                <button class="btn btn-primary new-question-asks">Answer!</button>
            </form>
        </div>
    {% endif %}
{% endblock content %}