{% extends "inc/base.html" %}
{% load static %}

{% block content %}
    <br>
    <div class="row section-title">
        <div class="col-2">
            <img class="avatar-question" src="{{ question.author.profile.avatar.url}}" alt="">
            <h6 class="rating" id="{{ question.pk }}">{{ question.rating}}</h6>
            <div class="btn-group" role="group" aria-label="Basic example">
                {% if request.user.is_authenticated %}
                    <button type="button" class="btn btn-primary btn-sm button-like-dislike like" id="like{{ question.pk }}" data-action="like" data-qid="{{ question.pk }}">
                        <img src="{% static "img/like.png" %}" width="40px" height="30px">
                    </button>
                    <button type="button" class="btn btn-primary btn-sm button-like-dislike dislike" id="dislike{{ question.pk }}" data-action="dislike" data-qid="{{ question.pk }}">
                        <img src="{% static "img/dislike.png" %}" width="40px" height="30px">
                    </button>
                {% endif %}
            </div>
        </div>
        <div class="col-10">
            <h3>{{ question.title }}</h3>
            <p>{{ question.text }}</p>
            <p>
                Tags:
                {% for tag in question.tag.all %}
                    {% if forloop.last %}
                        <a class="clickable" href="{% url 'tag' pk=tag %}">{{ tag.text }}</a>
                    {% else %}
                        <a class="clickable" href="{% url 'tag' pk=tag %}">{{ tag.text }},</a>
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
    <hr/>
    {% for answer in answers %}
            {%  include "inc/answer.html" %}
    {% endfor %}

    <script src="{% static "js/vote.js" %}"></script>
    {% with questions=answers %}
        {%  include "inc/paginator.html" %}
    {% endwith %}
    <hr/>
    {% if request.user.is_authenticated %}
        <div class="mb-3 section-title">
            <form action="" method="post">
                {% csrf_token %}
                <label>Answer</label>
                {{ form.body }}
                <button class="btn btn-primary new-question-asks">Answer!</button>
            </form>
        </div>
    {% endif %}
{% endblock content %}