{% extends "inc/base.html" %}
{% load static %}

{% block content %}
    <br>
    <div class="row section-title">
        <div class="col-2">
            <img class="avatar-question" src="{% static "img/duck.jpeg" %}" alt="">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-sm button-like-dislike">
                    <img src="{% static "img/like.png" %}" width="40px" height="30px">
                </button>
                <button type="button" class="btn btn-primary btn-sm button-like-dislike">
                    <img src="{% static "img/dislike.png" %}" width="40px" height="30px">
                </button>
            </div>
        </div>
        <div class="col-10">
            <h3 class="mt-5 section-title">{{ question.title }}</h3>
            <p>{{ question.text }}</p>
            <p>
                Tags:
                <a href="">dance</a>
                <a href="">music</a>
            </p>
        </div>
    </div>
    <hr/>
    {% include "inc/answer.html" %}
    {% include "inc/answer.html" %}
    <hr/>
    <div class="mb-3 section-title">
        <textarea class="form-control" id="questionText" placeholder="Enter your answer here..." rows="3"></textarea>
        <button type="submit" class="btn btn-primary new-question-ask">Answer</button>
    </div>
{% endblock content %}