{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block userblock %}
    <div>
        <a href="{% url "login" %}" class="userblock-link">log in</a>
        <a href="{% url "signup" %}" class="userblock-link">sign up</a>
    </div>
{% endblock userblock %}

{% block content %}
    <h2 class="mt-5">Registration</h2>
    {% for err in error %}
        <div class="error">{{ err }}</div>
    {% endfor %}
    <form action="/signup/" method="post">
        {% csrf_token %}
        {{ form.login.label }}
        {{ form.login }}<br>
        {{ form.email.label }}
        {{ form.email }}<br>
        {{ form.first_name.label }}
        {{ form.first_name }}<br>
        {{ form.last_name.label }}
        {{ form.last_name }}<br>
        {{ form.nickname.label }}
        {{ form.nickname }}<br>
        {{ form.password.label }}
        {{ form.password }}<br>
        {{ form.repeat_password.label }}
        {{ form.repeat_password }}<br>
        <button type="submit" class="btn btn-primary new-question-ask">Register!</button>
    </form>
{% include "inc/scripts.html" %}
{% endblock content %}