{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    <h2 class="mt-5">Settings: {{ login }}</h2>
    <div class="form-text text-error">
        <div class="error">{{ err }}</div>
    </div>
    <form>
        {% csrf_token %}
        {{ form.login.label }}
        {{ form.login }}<br>
        {{ form.email.label }}
        {{ form.email }}<br>
        {{ form.nickname.label }}
        {{ form.nickname }}<br>
        {{ form.avatar.label }}
        {{ form.avatar }}<br>
        <button type="submit" class="btn btn-primary new-question-ask">Save</button>
    </form>
{% endblock content %}