{% load static %}
<div class="row question">
    <div class="col-2">
        <img class="avatar-question" src="{{ question.author.profile.avatar.url}}">
        <h6 class="rating" id="{{ question.pk }}">{{ question.rating}}</h6>
        <div class="btn-group" role="group" aria-label="Basic example">
            {% if request.user.is_authenticated %}
                <button type="button" class="btn btn-primary btn-sm button-like-dislike like" id="like{{ question.pk }}" data-action="like" data-qid="{{ question.pk }}">
                    <img src="{% static "img/like.png" %}" width="40px" height="30px">
                </button>
                <button type="button" class="btn btn-primary btn-sm button-like-dislike dislike" id="dislike{{ question.pk }}" data-action="dislike" data-qid="{{ question.pk }}">
                    <img src="{% static "img/dislike.png" %}" width="40px" height="30px">
                </button>
            {% endif %}
        </div>
    </div>
    <div class="col-10">
        <h3><a href="{% url 'question' pk=question.id %}">{{ question.title }}</a></h3>
        <p>{{ question.text }}</p>
        <p>
            Tags:
            {% for tag in question.tag.all %}
                    {% if forloop.last %}
                    <a class="clickable" href="{% url 'tag' pk=tag %}">{{ tag.text }}</a>
                    {% else %}
                    <a class="clickable" href="{% url 'tag' pk=tag %}">{{ tag.text }},</a>
                    {% endif %}
            {% endfor %}
            <a href="" class="margin-left">answer({{question.answers.count}})</a>
        </p>
    </div>
</div>
